*
{
    font-family:                Verdana, Arial, Helvetica, Sans-Serif;
    font-size:                  10px;
    margin:                     0px 0px 0px 0px;
    padding:                    0px 0px 0px 0px;
}

a
{
    color:                      #000000;
    font-weight:                bold;
    text-decoration:            none;
}

body
{
    background-attachment:      fixed;
}

img
{
    border-style:               none;
}

input
{
    padding-right:              1px;
}

option
{
    padding-left:               2px;
    padding-right:              4px;
}

table
{
    empty-cells:                show;
}

/*  Page Settings  */
.activity_types
{
    background-image:           url(../images/activity_types.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.assignment
{
    background-image:           url(../images/assignment.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.bookings
{
    background-image:           url(../images/bookings.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.budget
{
    background-image:           url(../images/budget.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.companies
{
    background-image:           url(../images/companies.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.home
{
    background-image:           url(../images/choose.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.login
{
    background-image:           url(../images/login.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.logs
{
    background-image:           url(../images/logs.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.management
{
    background-image:           url(../images/management.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.notify
{
    background-image:           url(../images/notify.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.password
{
    background-image:           url(../images/password.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.project_types
{
    background-image:           url(../images/project_types.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.projects
{
    background-image:           url(../images/projects.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.reports
{
    background-image:           url(../images/reports.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.sla
{
    background-image:           url(../images/sla.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.user
{
    background-image:           url(../images/user.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.user_add
{
    background-image:           url(../images/user_add.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.user_edit
{
    background-image:           url(../images/user_edit.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.vehicles
{
    background-image:           url(../images/vehicles.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.menu_area
{
    background-image:           url(../images/background.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    line-height:                14px;
    padding-left:               5px;
    padding-right:              10px;
    text-align:                 justify;
}

.report
{
    padding-left:               4px;
    padding-right:              4px;
}

.work_area, .footer
{
    background-color:           #FFFFFF;
    text-align:                 justify;
}

/*  Spacer Settings  */
.spacer1
{
    background-image:           url(../images/background.jpg);
    height:                     20px;
}

.spacer2
{
    background-image:           url(../images/background.jpg);
    height:                     10px;
}