/*****************************************************
	Title: 					On-Track Interface
	For: 					ITE
	Site:
	Author:					DID
 	Version:				0.1
	Date Created:			2011/03/25
	Last Modified:			2011/04/12
******************************************************/
@font-face {font-family: "customfont";src: url(../font/MyriadWebPro.ttf) format("truetype");}
@font-face {font-family: "customfontbold";src: url(../font/MyriadWebPro-Bold.ttf) format("truetype");}

/***** BEGIN: MAIN BODY FONT SETTINGS *****/
body			{background:url(../im/bg.png) repeat fixed #000;
				font-size:12px;
				font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
a:focus			{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:#FCF9DC; outline:0px dotted;text-shadow: 0.1em 0.1em 0.2em black;}
a                       {font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:#E6E6E6; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}
a:hover			{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:orange; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}
a:active		{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:orange;text-shadow: 0.1em 0.1em 0.2em black;}
a span			{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;font-size:100%;}
p					{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;line-height:100%;text-align: justify;color:#E6E6E6;}
h1				{color:#D2D2D2;font-size:25px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-shadow: 0.1em 0.1em 0.2em black;font-weight:600;}
h2				{color:#D2D2D2;font-size:23px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-shadow: 0.1em 0.1em 0.2em black;font-weight:600;}
h3				{color:#D2D2D2;font-size:21px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-shadow: 0.1em 0.1em 0.2em black;font-weight:600;}
h4				{color:#D2D2D2;font-size:19px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-shadow: 0.1em 0.1em 0.2em black;font-weight:600;}
h5				{color:#D2D2D2;font-size:17px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-shadow: 0.1em 0.1em 0.2em black;font-weight:600;}
h6				{color:#D2D2D2;font-size:15px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-shadow: 0.1em 0.1em 0.2em black;font-weight:600;}
ol				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;list-style:decimal;}
ul				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;list-style:none;}	 /* circle, square, disc */
li,
dl				{line-height:150%;}
li				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;margin-left:8px;line-height:0;}
td			 {font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-align:left;}
.negative {color:orange;}
input{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;font-size:12px}
select{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
textarea{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;font-size:13px}
td.centerdata {font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-align:center}
td.rightdata {font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-align:right}
div.on-20px{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;margin:20px}

.hand,
.hand:hover	{
	margin-top:				-4px;
	cursor:						pointer;
}

.alpha  {
    cursor:                     pointer;
}

.hidden {
    display:                    none;
}

.active {
    font-weight:                normal;
    color:                      #00AA00;
}

.inactive {
    font-weight:                normal;
    color:                      #AA0000;
}

.error {
    display:                    none;
    font-weight:                normal;
    color:                      #FF5900;
}

div.error font  {
    color:                      #FF5900;
}

#project,
.project        {
    width:                      auto;
}

input.currency,
input.date,
input.date2,
input.number,
input.percentage {
    text-align:                 right;
}

input.currency,
input.number,
input.percentage {
    width:                      78px;
}

input.descr {
    width:                      260px;
}

.currency,
.date,
.date2,
.number,
.percentage {
    text-align:                 right;
}

/***** END: MAIN BODY FONT SETTINGS *****/

/***** BEGIN: MAIN BODY CENTER ALLIGNMENT *****/
body{
	width:100%;
	min-width:1000px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
	padding:0;
}
/***** END: MAIN BODY CENTER ALLIGNMENT *****/

/***** BEGIN: HEADER *****/
.on-header{
	background:url(../im/header.png) repeat-x;
	display:block;
	height:74px;
	width:100%;
	min-width:100%;
}
.on-nameplate{
	background:url(../im/nameplate.png) no-repeat;
	display:block;
	height:142px;
	width:260px;
	margin:0;
	padding:0;
}
.on-logo{
	background:url(../im/logo.png) no-repeat;
	display:block;
	height:101px;
	width:201px;
	position:absolute;
	float:left;
	margin:30px;
}
/* rss news feeder */
.on-rss-pad{padding-top:0px;}
.on-rss-pad {color:#A56C02;}
.on-rss-pad strong{color:orange;text-transform:uppercase}

.on-rss{
	position:absolute;
	top:33px;
	display:block;
	width:342px;
	height:22px;
	background:url(../im/on-rss-left.png) no-repeat 0 0;
	padding: 0 8px 0 0;
	margin: 0 0 0 8px;
	white-space:nowrap;
}
.on-rss-l a:hover{
	cursor: pointer;
}
.on-rss-l a span{
	overflow:hidden;
	width:315px;
	position:relative;
	float:left;
	padding:4px 12px;
}
.on-rss-l a span:hover{
	padding:4px 12px;
}
.on-rss-r {background:url(../im/on-rss-r.png) no-repeat right top;display:block;height:22px;width:8px;float:right;margin-right:-10px;}

/* history bar */
.on-his{
	display:block;
	height:54px;
	width:99%;
	position:relative;
	float:left;
	display:inline-block;
}
.on-his-pad{margin-top:10px;}
/* alone button */
.on-his-1  a {background: url(../im/on-ind-left.png) no-repeat top left;display:block;float:left;height:25px;margin:2px 6px 2px 0;cursor: pointer;}
.on-his-1  a span {background: url(../im/on-ind-r.png) no-repeat right top;display:inline;float:left;height:25px;padding:0 12px 0 0;margin-left:4px;position:relative;left:8px;}
.on-his-1  a:hover {background-position:0px bottom;}
.on-his-1  a:hover span {background-position:right bottom;}
/* begin button */
.on-his-2  a {background: url(../im/on-ind-left.png) no-repeat top left;display:block;float:left;height:25px;margin:2px 1px 2px 0;cursor: pointer;}
.on-his-2  a span {background: url(../im/on-ind-ra.png) no-repeat right top;display:inline;float:left;height:25px;padding:0 16px 0 0;margin-left:8px;position:relative;left:8px;}
.on-his-2  a:hover {background-position:0px bottom;}
.on-his-2  a:hover span {background-position:right bottom;}
/* middle button */
.on-his-3  a {background: url(../im/on-ind-lefta.png) no-repeat top left;display:block;float:left;height:25px;margin:2px 1px 2px 0;cursor: pointer;}
.on-his-3  a span {background: url(../im/on-ind-ra.png) no-repeat right top;display:inline;float:left;height:25px;padding:0 16px 0 0;margin-left:8px;position:relative;left:8px;}
.on-his-3  a:hover {background-position:0px bottom;}
.on-his-3  a:hover span {background-position:right bottom;}
/* begin button */
.on-his-4  a {background: url(../im/on-ind-lefta.png) no-repeat top left;display:block;float:left;height:25px;margin:2px 1px 2px 0;cursor: pointer;}
.on-his-4  a span {background: url(../im/on-ind-r.png) no-repeat right top;display:inline;float:left;height:25px;padding:0 16px 0 0;margin-left:8px;position:relative;left:8px;}
.on-his-4  a:hover {background-position:0px bottom;}
.on-his-4  a:hover span {background-position:right bottom;}

/* user data */
.on-user{
	height:78px;
	display:block;
	float:right;
	margin:0 -4px 0 0;
	position:relative;
}
.on-user-left  {
	background: url(../im/on-user-left.png) no-repeat left top;
	height:74px;
	margin-left:10px;
	padding:0 0 0 0;
	margin:0 -8px 0 0;
	position:relative;
	display:block;
	float:left;
}
.on-user-right{
	background: url(../im/on-user-right.png) no-repeat right top;
	display:block;
	float:left;
	height:74px;
	width:20px;
	padding:0;
	margin:0;
	position:static;
}
.on-user-box{float:left;display:block;position:relative;top:20px;margin:0;}
.on-user-icon{background: url(../im/user.png) no-repeat 0 0;position:relative;float:left;display:block;height:32px;width:32px;margin:10px 6px 10px 16px;}
.on-user-data{float:left;line-height:120%;display:block;margin:0;padding:2px 4px;height:44px;}
.on-user-vert{position:relative;height:100%;}
.on-user-data a{color:#151719;text-shadow:none;}
.on-user-data a:hover{color:#151719;text-shadow:none;}
.on-static{color:#151719;text-align:right;font-weight:bold;padding-right:5px;}
/* control buttons */
.on-con{
	display:block;
	position:relative;
	top:22px;
	height:42px;
	float:right;
}
.on-con-set{background:url(../im/on-gear-icon.png) no-repeat 0 0;float:left;margin:5px 12px;display:block;height:32px;width:32px;}
.on-con-set:hover{background-position: 0 -32px;}
.on-con-log{background:url(../im/on-key-icon.png) no-repeat 0 0;float:left;margin:5px 12px;display:block;height:32px;width:32px;}
.on-con-log:hover{background-position: 0 -32px;}
.on-con-sep{background:url(../im/on-sep.png) no-repeat 0 0;float:left;display:block;height:44px;width:2px;}
/***** END: HEADER *****/

/***** BEGIN: NAVIGATION *****/
.on-nav{
	background:#2F2B25;
	display:block;
	width:250px;
	border-right:solid 1px #464134;
	height:100%;
	position:relative;
	margin-top:-2px;
	padding-bottom:2px;
}

.on-nav-con{
	margin-bottom:0px;
	padding:42px 42px 42px 42px;
	display:block;
	position:static;
	width:166px;
}
.on-top{
	background:url(../im/on-top.jpg) no-repeat;
	display:block;
	height:8px;
	width:166px;
	position:relative;
}
.on-mid{
	background:url(../im/on-mid.jpg) repeat-y;
	display:block;
	width:150px;
	position:relative;
	padding:0 8px;
}

.on-bot{
	background:url(../im/on-bot.jpg) no-repeat;
	display:block;
	height:8px;
	width:166px;
	position:relative;
	bottom:8px;
}

#nav .on-but{
	display:block;
	width:150px;
	height:30px;
	background:url(../im/on-but.png) no-repeat 0 0;
	padding: 0 8px 0 0;
	white-space:nowrap;
}
#nav .on-but:hover{
	background-position: 0 -30px;
	cursor: pointer;
}
#nav .on-but span{
	overflow:hidden;
	width:126px;
	position:relative;
	float:left;
	padding:10px 8px;
	text-align:left;
}
#nav .on-but span:hover{
	padding:10px 8px;
}
/* navigation:left,home,right */
.on-con-nav{margin:0;display:block;height:33px;width:150px;overflow:hidden;margin-bottom:4px;}
.on-home-nav{background:url(../im/on-home-nav.png) no-repeat -50px 0;position:relative;float:left;display:block;height:33px;width:50px;}
.on-home-nav:hover{background-position: -50px -33px;}
.on-left-nav{background:url(../im/on-home-nav.png) no-repeat 0 0;position:relative;float:left;display:block;height:33px;width:50px;}
.on-left-nav:hover{background-position: 0 -33px;}
.on-right-nav{background:url(../im/on-home-nav.png) no-repeat -100px 0;position:relative;float:left;display:block;height:33px;width:50px;}
.on-right-nav:hover{background-position: -100px -33px;}
/***** END: NAVIGATION *****/

/***** BEGIN: CONTENT *****/
.on-container{
	position:relative;
	background-color:transparent;
	display:block;
	height:100%;
	width:100%;
	min-height:500px;
}
/***** END: CONTENT *****/

/***** BEGIN: FOOTER *****/
.on-footer{
	background:url(../im/footer.png) repeat-x;
	display:block;
	height:82px;
	width:100%;
	position:relative;
	margin-top:-4px;
}
.on-emo	{
	height:40px;
	position:relative;
	top:7px;
}
.on-emost{display:block;height:40px;width:40px;margin-left:2px;float:right;}
/* facebook */
.on-but-fb{background:url(../im/on-but-fb.png) no-repeat 0 0;}
.on-but-fb:hover{background-position: 0 -40px;}
/* twitter */
.on-but-tw{background:url(../im/on-but-tw.png) no-repeat 0 0;}
.on-but-tw:hover{background-position: 0 -40px;}
/* rss */
.on-but-rss{background:url(../im/on-but-rss.png) no-repeat 0 0;}
.on-but-rss:hover{background-position: 0 -40px;}
/* youtube */
.on-but-yt{background:url(../im/on-but-yt.png) no-repeat 0 0;}
.on-but-yt:hover{background-position: 0 -40px;}
/* skype */
.on-but-sk{background:url(../im/on-but-sk.png) no-repeat 0 0;margin-right:6px;}
.on-but-sk:hover{background-position: 0 -40px;}
/* mail */
.on-but-mail{background:url(../im/on-but-mail.png) no-repeat 0 0;margin-right:6px;}
.on-but-mail:hover{background-position: 0 -40px;}
/***** END: FOOTER *****/

/***** BEGIN: LAYER 2 TABLES *****/
.in-header{background-color:transparent;position:static;width:100%;height:74px;padding:0px;margin:0px;}
.in-his{background-color:transparent;position:static;width:100%;height:60px;padding:0px;margin:0px;}
.in-body{background-color:transparent;position:static;width:100%;height:100%;padding:0px;margin:0px;}
.in-foot{background-color:transparent;position:static;width:100%;height:78px;padding:0px;margin:0px;}
.in-head-left{background-color:transparent;position:static;width:260px;height:142px;padding:0px;margin:0px;}
.in-head-right{background-color:transparent;position:static;width:100%;padding:0px;margin:0px;}
.in-nav{background-color:transparent;position:static;height:100%;width:260px;vertical-align:top;padding:0px;margin:0px;}
.in-container{background-color:transparent;position:static;width:100%;height:100%;padding:0px;margin:0px;}

.on-headthrough{
    background:url(../im/header.png) repeat-x;
    display:block;
    height:74px;
    width:100px;
    margin:0;
    padding:0;
    position:absolute;
    z-index:-1;
}

/***** END: LAYER 2 TABLES *****/

/***** BEGIN: HELP ICON *****/
.on-help{
    position:absolute;
    right:0;
    z-index:9996;
}
/* 64px Icon */
.on-help-64{
    background:url(../im/on-help-64.png) no-repeat 0 0;
    display:block;height:64px;width:64px;margin-left:2px;float:right;
    cursor: pointer;
}
.on-help-64:hover{background-position: 0 -64px;}
.on-his-pad-64{margin-right:64px;display:none;}
/* 32px Icon */
.on-help-32{
    background:url(../im/on-help-32.png) no-repeat 0 0;
    display:block;height:32px;width:32px;margin-left:2px;float:right;
    cursor: pointer;
}
.on-help-32:hover{background-position: 0 -32px;}
.on-his-pad-32{margin-right:32px;}
/***** END: HELP ICON *****/

.on-drop-menu a{
    font-weight:normal;
    line-height:200%;
    text-shadow: none;
    cursor: pointer;
    padding-right:6px;
}
.on-drop-menu{
    background:url(../im/on-opa-60.png) repeat 0 0;
    padding:12px;
    margin:6px;
    display:none;
    border:solid 1px #464134;
    position:absolute;
    z-index:9998;
    top:66px;
    right:50px;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.on-profile-modal a{
    font-weight:normal;
    line-height:200%;
    text-shadow: none;
    cursor: pointer;
    padding-right:6px;
}
.on-profile-modal{
    background:url(../im/on-opa-60.png) repeat 0 0;
    padding:12px;
    margin:6px;
    display:none;
    border:solid 1px #464134;
    position:absolute;
    z-index:9998;
    width:40%;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.on-help-menu a{
    line-height:200%;
    text-shadow: none;
    cursor: pointer;
    padding-right:6px;
}
.on-help-menu{
    background:url(../im/on-opa-60.png) repeat 0 0;
    padding:12px;
    margin:6px;
    display:none;
    border:solid 1px #464134;
    position:absolute;
    z-index:9999;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.on-help-menu64{top:26px;right:32px;}
.on-help-menu32{top:11px;right:12px;}

div#mask {
  position:						absolute;
  left:							0;
  top:							0;
  z-index:						9998;
  display:						none;
  background-color:				black;
}

div#maskNotification {
  position:						absolute;
  left:							0;
  top:							0;
  z-index:						9998;
  display:						none;
  background-color:				black;
}
.on-contact-modal{
    background:url(../im/on-opa-60.png) repeat 0 0;
    padding:12px;
    margin:6px;
    display:none;
    border:solid 1px #464134;
    position:absolute;
    z-index:9998;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.on-location-modal,
.on-gps-logbook-notification-modal {
    background:url(../im/on-opa-60.png) repeat 0 0;
	width:500px;
	height:170px;
	left:50%;
	top:50%;
	margin-left:-250px;
	margin-top:-85px;
    padding:12px;
    display:none;
    border:solid 1px #464134;
    position:fixed;
    z-index:9998;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
	text-align:center;
}

/***** BEGIN: CSS BUTTON *****/
input[type="submit"], input[type="button"], input[type="file"]{
    padding:3px 8px;
    color:#FFF;
    text-shadow:0px 1px 1px #000;
    border-top:solid 1px #948981;
    border-bottom:solid 1px #252321;
    border-left:0;
    border-right:0;

    /* gradient */
    background: #3D372D; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D372D', endColorstr='#2F2B25'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#3D372D), to(#2F2B25)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #3D372D,  #2F2B25); /* for firefox 3.6+ */

    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    /* drop shadow */
    -moz-box-shadow: 0px 2px 4px #000;
    -webkit-box-shadow: 0px 2px 4px #000;
    box-shadow: 0px 2px 4px #000;
}

/*Coming soon Pop up*/
#coming-soon p{font:#FFF;}
#coming-soon{
    background:url(../im/on-opa-60.png) repeat 0 0;
    padding:12px;
    margin:6px;
    display:none;
    border:solid 1px #464134;
    position:absolute;
    z-index:9998;
    top:-50px;
    right:50px;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    border-top:solid 1px #86837D;
    border-bottom:solid 1px #2F2B25;
    color:orange;
    /* gradient */
    background: #3D372D; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#464134), to(#5E5951)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #5E5951,  #464134); /* for firefox 3.6+ */
}

input[type="submit"][disabled], input[type="button"][disabled], input[type="file"][disabled] {
    padding:3px 8px;
    color:#AF0000;
    text-shadow:0px 1px 1px #000;
    border-top:solid 1px #948981;
    border-bottom:solid 1px #252321;
    border-left:0;
    border-right:0;

    /* gradient */
    background: #3D372D; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3D372D', endColorstr='#2F2B25'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#3D372D), to(#2F2B25)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #3D372D,  #2F2B25); /* for firefox 3.6+ */
}

.do-not-wrap {
	white-space:nowrap;
}

.spacer {
	width:100%;
	height:1px;
	background:none;
	clear:both;
	padding:0;
	margin:0;
}

/***** END: CSS BUTTON *****/
