/*****************************************************
	Title:
	For:
	Site:
	Author:
 	Version:				0.1
	Date Created:			2011/03/25
	Last Modified:			2011/03/29
******************************************************/
@font-face {font-family: "customfont";src: url(../font/MyriadWebPro.ttf) format("truetype");}
@font-face {font-family: "customfontbold";src: url(../font/MyriadWebPro-Bold.ttf) format("truetype");}

/***** BEGIN: MAIN BODY FONT SETTINGS *****/
body			{background:url(../im/bg.jpg) repeat #000;
				font-size:12px;
				font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
a:focus			{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:#FCF9DC; outline:0px dotted;}
a				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:#E6E6E6; text-decoration:none;}
a:hover			{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:#A56C02; text-decoration:none;}
a:active		{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;color:orange;}
a span			{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;font-size:100%;}
h1				{color:#D2D2D2;font-size:25px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
h2				{color:#D2D2D2;font-size:23px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
h3				{color:#D2D2D2;font-size:21px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
h4				{color:#D2D2D2;font-size:19px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
h5				{color:#D2D2D2;font-size:17px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
h6				{color:#D2D2D2;font-size:15px;font-variant: small-caps;font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;}
ol				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;list-style:decimal;}
ul				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;list-style:none;}	 /* circle, square, disc */
li,
dl				{line-height:150%;}
p				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;line-height:100%;text-align: justify;}
li				{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;margin-left:8px;line-height:0;}
/***** END: MAIN BODY FONT SETTINGS *****/

/***** BEGIN: MAIN BODY CENTER ALLIGNMENT *****/
body{
	width:100%;
	min-width:1000px;

	height:100%;
	margin:0;
	padding:0;
			/*  IE fix for center apply (float: left; text-align:left;) further in other divs  */
}
/***** END: ON-TRACK BOOKTIME *****/

.on-booktime h6{text-align:center;}

.on-booktime{
	width:355px;
	border:solid 1px green;
	text-align:left;
}

.on-description{
	position:relative;
	text-align:right;
	padding:10px 10px 10px 0;
	width:100px;
	vertical-align:top;
	color:#d2d2d2;
}

.on-description-orange{
	position:relative;
	text-align:right;
	padding:10px 10px 10px 0;
	width:100px;
	vertical-align:top;
	color:orange;
}

.on-description-left{
	position:relative;
	text-align:left;
	padding:10px 10px 10px 0;
	width:100px;
	vertical-align:top;
	color:#d2d2d2;
}

.on-description-left-orange{
	position:relative;
	text-align:left;
	padding:10px 10px 10px 0;
	width:100px;
	vertical-align:top;
	color:orange;
}

.on-description-center{
	position:relative;
	text-align:center;
	padding:10px 10px 10px 0;
	width:100px;
	vertical-align:top;
	color:#d2d2d2;
}

.on-field{ /* */
	position:relative;
	text-align:left;
	border:solid 1px #191715;
	margin:5px;
	padding:2px 0;
	width:220px;
}

/* READ ONLY FIELDS */
select[readonly],
input[type="text"][readonly] {
    background-color:           #706f6b;
	border-color: 					#706f6b;
}

/* Input Validation */
.on-validate-error{
	color:orange;
}

.error {
    display:                    none;
    font-weight:            normal;
    color:                       orange;
}

div.error font  {
    color:                      orange;
}

.on-field-heading{
    background-color:transparent;
    color:orange;
	position:relative;
	text-align:center;
	border:none;
	margin:0px;
	padding:0px 0;
	width:220px;
	font-weight:600;
}

.on-field-heading2{
    background-color:transparent;
    color:orange;
	position:relative;
	text-align:center;
	border:none;
	margin:0px;
	padding:0px 0;
	width:100px;
	font-weight:600;
}

.on-field-date{
	position:relative;
	text-align:left;
	border:solid 1px #191715;
	margin:5px;
	padding:2px 0;
	width:80px;
}

.on-field-perc{
	width:23px;
}

.on-field-avg{
	position:relative;
	text-align:left;
	padding:10px 10px 10px 0;
	width:100px;
	vertical-align:top;
	color:orange;
	font-weight:600;
}

.on-book {
	width:100%;
	color:#FFF;
	font-weight:700;
}

.on-book  input{
	color:#191715;
}

.on-book  textarea{
	height:60px;
}
.on-time{
	margin:5px;
	padding:2px;
}

.on-form-button{
	margin:auto 0;
	text-align:center;
}

/***** BEGIN: ON-TRACK BOOKTIME *****/
