/*****************************************************
	Title:
	For:
	Site:
	Author:
 	Version:				0.1
	Date Created:			2011/04/12
	Last Modified:			2011/04/12
******************************************************/

/***** BEGIN: MAIN BODY FONT SETTINGS *****/
body			{background:url(../im/bg.jpg) repeat fixed #000;
				font-size:12px;
				font-family:Myriad Pro Web,Verdana,Arial,Helvetica,sans-serif;}
a:focus			{color:#FCF9DC; outline:0px dotted;text-shadow: 0.1em 0.1em 0.2em black;}
a			{color:#E6E6E6; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}
a:hover			{color:orange; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}
a:active		{color:#A56C02;text-shadow: 0.1em 0.1em 0.2em black;}
a span			{font-size:100%;}
/***** END: MAIN BODY FONT SETTINGS *****/

/***** BEGIN: MAIN BODY CENTER ALLIGNMENT *****/
html {height:100%;}
body{
	width:100%;
	min-width:450px;
	height:95%;
	min-height:470px;
	margin: 0;
	padding: 0;
	/* overflow:hidden; */
}
input[type="textarea"]{
	font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;font-size:13px;
}
textarea{font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;font-size:13px}

td.centerdata {font-family:"customfont",Verdana,Arial,Helvetica,sans-serif;text-align:center;padding:6px 2px 6px 2px;}
td {vertical-align:top;}
td table td table {margin-top:-4px;}
i {color:#E6E6E6;}

.error {
    /*display:                    none;*/
    padding-left:               4px;
    font-weight:                normal;
    font-style:                 italic;
    color:                      #FF5900;
}

div.error font  {
    color:                      #FF5900;
}

/***** END: MAIN BODY CENTER ALLIGNMENT *****/

/***** BEGIN: LOGON *****/
.on-login-error{
	position:absolute;
	top:75px;
	left:3px;
	width:190px;
}

.on-login-locked{
	position:absolute;
	top:75px;
	left:3px;
	width:190px;
}

.on-integ{
	background:url(../im/on-integ.png);
	display:block;
	height:160px;
	width:160px;
	position:absolute;
	right:0;
	top:0;
	z-index:9999;
}
.on-log-con{
	display:block;
	position:relative;
	width:96%;
	height:96%;
	margin:2%;
	background:transparent;
	border-top:solid 1px #1B1714;
}
.on-log-bg{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	border:solid 1px #000;
	/* CSS3 standard */
	opacity:0.2;
}
.on-logon{
	background:url(../im/on-logon.png) no-repeat 0 10px;
	display:block;
	height:456px;
	width:436px;
	position:relative;
	top:50%;
	left:50%;
	margin-top:-228px;
	margin-left:-218px;
}
.on-register{
	display:block;
	height:456px;
	width:436px;
	position:relative;
	top:50%;
	left:50%;
	margin-top:-228px;
	margin-left:-218px;
}
/***** END: LOGON *****/

/***** BEGIN: SOCIAL ICONS *****/
.on-emo	{
	height:48px;
	position:absolute;
	top:304px;
	margin-left:96px;
}
.on-forgotten{
        top:350px;
	position:absolute;
	width:100%;
	text-align:center;
        cursor:pointer;
}
.on-emost{display:block;height:40px;width:40px;margin:4px;float:right;}
/* facebook */
.on-but-fb{background:url(../im/on-but-fb.png) no-repeat 0 0;}
.on-but-fb:hover{background-position: 0 -40px;}
/* twitter */
.on-but-tw{background:url(../im/on-but-tw.png) no-repeat 0 0;}
.on-but-tw:hover{background-position: 0 -40px;}
/* rss */
.on-but-rss{background:url(../im/on-but-rss.png) no-repeat 0 0;}
.on-but-rss:hover{background-position: 0 -40px;}
/* youtube */
.on-but-yt{background:url(../im/on-but-yt.png) no-repeat 0 0;}
.on-but-yt:hover{background-position: 0 -40px;}
/* skype */
.on-but-sk{background:url(../im/on-but-sk.png) no-repeat 0 0;}
.on-but-sk:hover{background-position: 0 -40px;}
/* mail */
.on-but-mail{background:url(../im/on-but-mail.png) no-repeat 0 0;}
.on-but-mail:hover{background-position: 0 -40px;}

/***** END: SOCIAL ICONS *****/

/***** BEGIN: LOGIN DATA *****/
.on-log-fields{
	position:absolute;
	width:280px;
	margin:195px 78px 0 78px;
}
.on-description{
	color:#333333;
	font-weight:600;
	position:relative;
	text-align:right;
	padding:10px 10px 10px 0;
	width:100px;
}
.on-description-center{
	color:#E6E6E6;
	font-weight:600;
	position:relative;
	text-align:center;
	padding:2px 4px 2px 4px;
}
.on-field{
	position:relative;
	text-align:left;
	border:solid 1px #2D2D2D;
	margin:5px;
	padding:2px;
	width:185px;
}
.on-field-numeric{
	position:relative;
	text-align:left;
	border:solid 1px #2D2D2D;
	padding:2px;
	margin:4px 2px 4px 2px;
	width:100px;
}

.on-description-mail{
	color:#FFFFFF;
	font-weight:400;
	position:relative;
	text-align:right;
        vertical-align:top;
	padding:10px 10px 10px 0;
	width:100px;
        white-space:nowrap;
}
.on-field-mail{
	position:relative;
	text-align:left;
	border:solid 1px #2D2D2D;
	margin:5px;
	padding:2px;
	width:185px;
}

input:focus {
	border:solid 1px #F68B1F;
    box-shadow: 0 0 5px #FDB913;
    -webkit-box-shadow: 0 0 5px #FDB913;
    -moz-box-shadow: 0 0 5px #FDB913;
}
/***** END: LOGIN DATA *****/

/***** BEGIN: ON-TRACK BOOKTIME *****/
.on-verse{
	display:block;
	height:40px;
	width:400px;
	margin-left:-200px;
	left:50%;
	line-height:150%;
	position:absolute;
	bottom:0px;
	text-align:center;
	cursor: pointer;
}

.on-but-pad{padding-top:4px;}
.on-but{
	text-align:center;
	display:block;
	width:75px;
	height:25px;
	background:url(../im/on-but-login.png) no-repeat 0 0;
	margin:5px;
	float:right;
}
.on-but:hover{
	background-position: 0 -30px;
	cursor: pointer;
}

/*Coming soon Pop up*/
#coming-soon span{color:#302c25; text-shadow: 0.1em 0.1em 0.2em white;}
#coming-soon{
	display:none;
	position:absolute;
	z-index:9998;
	top:45px;
	right:83px;

}

div#mask {
  position:						absolute;
  left:							0;
  top:							0;
  z-index:						9998;
  display:						none;
  background-color:                                     black;
}

div#maskNotification {
  position:						absolute;
  left:							0;
  top:							0;
  z-index:						9999;
  display:						none;
  background-color:		black;
}
.on-contact-modal{
	background:url(../im/on-opa-90.png) repeat 0 0;
	padding:12px;
	margin:120px 0px 0px 45px;
	display:none;
	border:solid 1px #464134;
	position:absolute;
	z-index:9998;
	/* rounded corners */
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}
.on-wizard-modal{
	background:url(../im/on-opa-90.png) repeat 0 0;
	padding:12px;
	display:none;
	margin:-3% 15%;
        width:70%;
	border:solid 1px #464134;
	position:absolute;
	z-index:9998;
	/* rounded corners */
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
}

.browserMessage         {color:#B22222; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}
#browserMessage a       {color:#E6E6E6; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}
#browserMessage a:hover {color:#B22222; text-decoration:none;text-shadow: 0.1em 0.1em 0.2em black;}

.hidden {
    display:                    none;
}
/***** BEGIN: HELP ICON *****/
.on-help{
    position:absolute;
    right:0;
    margin-right:12px;
    z-index:9996;
}
/* 64px Icon */
.on-help-64{
    background:url(../im/on-help-64.png) no-repeat 0 0;
    display:block;height:64px;width:64px;margin-left:2px;float:right;
    cursor: pointer;
}
.on-help-64:hover{background-position: 0 -64px;}
.on-his-pad-64{margin-right:64px;display:none;}
/* 32px Icon */
.on-help-32{
    background:url(../im/on-help-32.png) no-repeat 0 0;
    display:block;height:32px;width:32px;margin-left:2px;float:right;
    cursor: pointer;
}
.on-help-32:hover{background-position: 0 -32px;}
.on-his-pad-32{margin-right:32px;}
/***** END: HELP ICON *****/

#nav a{
	text-decoration:none;
	display:block;
	background-color:transparent;
}

#nav a{
	margin:0;
}

#nav ul{
    /*border around submenu goes here*/
    left:0px;
    background:#12110D;
    padding:0px;
    margin:0px;
    display:block;
    border:solid 1px #464134;
    /* rounded corners */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    list-style: none;
    line-height: 0;
}
#nav li {
    /*great place to use a background image as a divider*/
    display:block;
    list-style:none;
    position:relative;
}

/* main menu ul or ol elment */
#nav{
    display:block;
    list-style:none;
    margin:0 0 0 -8px;
    z-index:5;
    display:block;
}
#nav .on-but{
	display:block;
	width:242px;
	height:30px;
	background:url(../im/on-but-step.png) no-repeat 0 0;
	white-space:nowrap;
}
#nav .on-but:hover{
	background-position: 0 -30px;
	cursor: pointer;
        color:orange;
        text-decoration:none;
        text-shadow: 0.1em 0.1em 0.2em black;
        font-weight:bold;
}
#nav .on-but span{
	overflow:hidden;
	width:216px;
	position:relative;
	float:left;
	padding:0px 8px 4px 8px;
	text-align:left;
}
#nav .on-but span:hover{
	padding:0px 8px 4px 8px;
        font-weight:bold;
}
#nav .activeStep{
	background-position: 0 -30px;
	cursor: pointer;
        color:orange;
        text-decoration:none;
        text-shadow: 0.1em 0.1em 0.2em black;
        font-weight:bold;
}
