.denom		{ border-top: 1px solid black }
.f		{ color: gray }
.first		{ margin-left: 0 }
p.first		{ line-height: 1.4em ; margin-bottom: 0 }
span.first	{ margin-right: 3em }
.fraction	{ border-collapse: collapse }
.fraction td	{ padding: 0.4em 0.1em }
.fraction tr	{ speak: none }
.nodisplay	{ display: none }
.notranslate	{ direction: ltr }
.num		{ border-bottom: 1px solid black }
big		{ font-size: 125% ; line-height: 1.25em }
big big		{ line-height: 1em }
small		{ font-size: 75% }
sub		{ font-size: 71% ; line-height: 0 ; vertical-align: -0.4em }
sup.s		{ margin-left: -0.25em }
sup		{ font-size: 71% ; line-height: 0 ; vertical-align: 0.6em }
.math           { font-style : italic ; }