/*****************************************************
	Title: 					On-Track Interface
	For: 					ITE
	Site:					
	Author:					DID
 	Version:				0.1
	Date Created:			2011/03/25
	Last Modified:			2011/04/12
******************************************************/
/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* ----[ LINKS ]----*/

/* all menu links */
#nav a, #subMenusContainer a{
	text-decoration:none;
	display:block;
	background-color:transparent;
}

/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#nav a{
	margin:0;
}

/* Just sub menu links */
#subMenusContainer a, #nav li li a{
	text-align:left;
	padding:4px 14px 4px 8px;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ 
	background: url(../im/arrow_right.png) right center no-repeat;
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ 
	background: url(../im/arrow_right_over.png) right center no-repeat;  
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	
	 background: url(../im/arrow_right.png) right center no-repeat; 
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{	
	background: url(../im/arrow_right_over.png) right center no-repeat; 
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 20px 0 2px;
	margin:0 0px 0 2px;
}

/* All submenu OLs and ULs */
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/
	left:0px;
	background:#12110D;
	padding:0px;
	margin:0px;
	display:block;
	border:solid 1px #464134;
	/* rounded corners */
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
	list-style: none;
	line-height: 0;
}
/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#nav li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
}

#subMenusContainer li{
	list-style: none;
	line-height: 200%;
}

/* main menu ul or ol elment */
#nav{
	display:block;
	list-style:none;
	margin:0 0 0 -8px;
	z-index:5;
	display:block;
}

#subMenusContainer{	display:block; 	position:absolute;	top:0;	left:6px;	width:110%;	height:0;	overflow:visible;	z-index:10000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#nav li li{	float:none; }

#nav li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#nav li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
}

/* third-and-above-level lists */
#nav li ul ul { margin: -1em 0 0 -1000em; }
#nav li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#nav li:hover ul{	margin-left: 186px; margin-top:-2.5em;}
#nav li li:hover ul {	margin-left: 10em; }

/* extra positioning rules for limited noscript keyboard accessibility */
#nav li a:focus + ul {  margin-left: 186px; margin-top:-2.5em; }
#nav li li a:focus + ul { left:186px; margin-left: 1010em; margin-top:-2.5em;}
#nav li li a:focus {left:186px;  margin-left:1000em; width:10em;  margin-top:-2.5em;}
#nav li li li a:focus {left:186px; margin-left: 2010em; width: 10em;  margin-top:-2.5em;}
#nav li:hover a:focus{ margin-left: 0; }
#nav li li:hover a:focus + ul { margin-left: 10em; }

.on-but{
	display:block;
	width:152px;
	height:30px;
	background:url(../im/on-but.png) no-repeat 0 0;
	padding: 0 8px 0 0;
	white-space:nowrap;
}
.on-but:hover{ 
	background-position: 0 -30px;
	cursor: pointer;
}
.on-but span{
	overflow:hidden;
	width:126px;
	position:relative;
	float:left;
	padding:4px 8px;
	text-align:left;
}
.on-but span:hover{
	padding:4px 8px;
}
