/*****************************************************
 * Title: 						Tables CSS
 * For: 						DID
 * Site:
 * Author:						DID
 * Version:						0.1
 * Date Created:				2011/02/26
 * Last Modified:				2011/02/26
******************************************************/


/* BEGIN: TABLE-A LAYOUT */

table.on-table{
	border-collapse:collapse;
	margin:20px;
	text-align:left;
	-moz-box-shadow: 0px 3px 4px #000;
	-webkit-box-shadow: 0px 3px 4px #000;
	box-shadow: 0px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000');
}

table.on-table-center{
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.on-table
th{
	background:none repeat scroll 0 0 #252321;
	border-bottom:1px solid #33322D;
	border-top:4px solid #000000;
	color:#D2D2D2;
	font-size:13px;
	font-weight:normal;
	padding:6px 20px;
	font-weight:700;
    text-align:center;
    vertical-align:middle;
}

th.on-table-clear
{
	background-color:#FFFFFF;
	border-bottom:0px;
	border-top:0px solid #000000;
	color:#D2D2D2;
	font-size:13px;
	font-weight:normal;
	padding:6px 20px;
	font-weight:700;
    text-align:center;
    vertical-align:middle;
}

th.on-table-light
{
	background:none repeat scroll 0 0 #615b4d;
	border-bottom:1px solid #33322D;
	border-top:1px solid transparent;
	color:#FFF;
	padding:6px 20px;
	text-align:center;
}

.on-table
td{
	background:none repeat scroll 0 0 #474337;
	border-bottom:1px solid #33322D;
	border-top:1px solid transparent;
	color:#FFF;
	padding:6px 20px;
}

td.noborder{
	background:none repeat scroll 0 0 #474337;
	border-bottom:0px solid transparent;
	border-top:0px solid transparent;
	color:#FFF;
	padding:6px 20px;
}

td.on-table-clear {
	background:none repeat scroll 0 0 #615b4d;
	border-bottom:1px solid #33322D;
	border-top:1px solid transparent;
	color:#FFF;
	padding:6px 20px;
	text-align:left;
}

td.on-table-total {
	background:none repeat scroll 0 0 #615b4d;
	border-bottom:1px solid #33322D;
	border-top:1px solid transparent;
	color:#FFF;
	padding:6px 20px;
	text-align:right;
}

td.on-table-light {
	background:none repeat scroll 0 0 #38352c;
	border-bottom:1px solid #33322D;
	border-top:1px solid transparent;
	color:#FFF;
	padding:6px 20px;
	text-align:right;
}

td.on-leftinput{
	width:50%; text-align:left;
	}

.on-table-trip-builder td{
	border:none;
	padding:0;
	background-color:none;
	background:none;
}

table.on-lefttable{
	margin-left:5px;
	margin-top:5px;
	}

.on-table
tfoot{
	background:none repeat scroll 0 0 #E8EDFF;
	border-bottom:4px solid #252321;
	padding:8px;
	width:100%;
}

.on-tabletr:focus			{outline:none;}
.on-table tr					{color:#003399;text-decoration:none;}
.on-table tr:hover			{color:orange;text-decoration:underline;}

/* END: TABLE-A LAYOUT */