/*
* {
    font-family:                Verdana, Arial, Helvetica, Sans-Serif;
    font-size:                  10px;
    margin:                     0px 0px 0px 0px;
    padding:                    0px 0px 0px 0px;
}

a {
    color:                      #000000;
    font-weight:                bold;
    text-decoration:            none;
}
*/
/*
body {  */
    /*background-attachment:      fixed;*/
/*} */


/*
h1
{
    color:                      #000000;
    font-size:                  20px;
    font-weight:                bold;
    text-align:                 center;
    text-decoration:            underline;
}

h2
{
    color:                      #000000;
    font-size:                  14px;
    font-weight:                bold;
    text-align:                 center;
    text-decoration:            none;
}

h3
{
    color:                      #000000;
    font-size:                  12px;
    font-weight:                bold;
    text-decoration:            none;
}

h4
{
    color:                      #000000;
    font-size:                  10px;
    font-weight:                bold;
    font-style:                 italic;
    text-decoration:            none;
}

img
{
    border-style:               none;
}

input
{
    padding-right:              1px;
}

option
{
    padding-left:               2px;
    padding-right:              4px;
}

table
{
    empty-cells:                show;
}

input[type="button"]    {
    padding:                    0px 6px 0px 6px;
}
*/

/*  Table Style Classes  */
/*
.border {
    border:						1px solid #0A0F15;
    font-weight:				normal;
    font-size:					10px;
    color:						#000000;
    background-color:			#FFFFFF;
    border-collapse:			collapse;
    border-spacing:				0px;
    white-space:                nowrap;
}

.tableHead,
.tableHeadRight {
    border-top:					0px;
    border-left:				1px solid #0A0F15;
    border-bottom:				1px solid #0A0F15;
    border-right:				0px;
    padding:					0px;
    font-weight:				bold;
    font-size:					10px;
    color:						#FFFFFF;
    background-color:			#3E638F;
}

.tableHead {
    text-align:					center;
}

.tableHeadRight {
    text-align:					right;
}

.tableBody,
.tableBodyLeft,
.tableBodyCenter,
.tableBodyRight {
    border-top:					0px;
    border-left:				1px solid #0A0F15;
    border-bottom:				1px solid #0A0F15;
    border-right:				0px;
}

.tableBody {
    text-align:					left;
}

.left,
.tableBodyLeft {
    text-align:					left;
    padding:					0px 2px 0px 2px;
}

.center,
.tableBodyCenter {
    text-align:					center;
    padding:					0px 2px 0px 2px;
}

.right,
.tableBodyRight {
    text-align:					right;
    padding:					0px 2px 0px 2px;
}
*/

/*  Page Settings  */
/*
.activity_types
{
    background-image:           url(../images/activity_types.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.assignment
{
    background-image:           url(../images/assignment.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.bookings
{
    background-image:           url(../images/bookings.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.budget
{
    background-image:           url(../images/budget.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.companies
{
    background-image:           url(../images/companies.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.home
{
    background-image:           url(../images/choose.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.login
{
    background-image:           url(../images/login.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.logs
{
    background-image:           url(../images/logs.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.management
{
    background-image:           url(../images/management.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.notify
{
    background-image:           url(../images/notify.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.password
{
    background-image:           url(../images/password.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.project_types
{
    background-image:           url(../images/project_types.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.projects
{
    background-image:           url(../images/projects.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.reports
{
    background-image:           url(../images/reports.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.sla
{
    background-image:           url(../images/sla.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.user
{
    background-image:           url(../images/user.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.user_add
{
    background-image:           url(../images/user_add.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.user_edit
{
    background-image:           url(../images/user_edit.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}

.vehicles
{
    background-image:           url(../images/vehicles.jpg);
    background-repeat:          no-repeat;
    background-attachment:      fixed;
    background-position:        center right;
}
*/

/* .menu_area */
/*{ */
    /*background-image:           url(../images/background.jpg); */
    /*background-image:           url(../images/test_background.jpg);*/
	/*
    background-repeat:          repeat-x;
    background-attachment:      fixed;
    line-height:                14px;
    padding-left:               5px;
    padding-right:              20px;
    text-align:                 justify;
    white-space:                nowrap;
}

.report
{
    padding-left:               4px;
    padding-right:              4px;
}

.work_area, .footer
{
    background-color:           #FFFFFF;
    text-align:                 justify;
}
*/

/*  Spacer Settings  */
/*.spacer1
{
    background-image:           url(../images/background.jpg);	*/
    /*background-image:           url(../images/test_background.jpg);*/
   /* height:                     20px;
}
*/

/*
.spacer2
{
    background-image:           url(../images/background.jpg);  */
    /*background-image:           url(../images/test_background.jpg);*/
    /*height:                     10px;
}
*/
