<span style='color: #000'>884 frames</span>	<span style='color: #900'>44,032 KB</span>	<span style='color: #090'>1,898.99 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />